In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
main_df=pd.read_csv("merged_df.csv")

In [3]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   incident_id              60000 non-null  int64
 1   datetime                 60000 non-null  object
 2   initial_type             60000 non-null  object
 3   initial_severity         60000 non-null  int64
 4   final_type               60000 non-null  object
 5   final_severity           60000 non-null  int64
 6   assignment_time          59223 non-null  object
 7   valid_dispatch_response  60000 non-null  object
 8   dispatch_response_sec    60000 non-null  int64
 9   activation_time          59126 non-null  object
 10  on_scene_time            57362 non-null  object
 11  valid_incident_response  60000 non-null  object
 12  incident_response_sec    57358 non-null  float64
 13  travel_time_sec          57362 non-null  float64
 14  to_hospital_time         38225 non-null  object
 15  hospital_arrival_time    38053 non-null  object
 16  close_time               60000 non-null  object
 17  held                     60000 non-null  object
 18  disposition              60000 non-null  object
 19  borough                  60000 non-null  object
 20  dispatch_area            60000 non-null  object
 21  zipcode                  60000 non-null  int64
 22  precinct                 60000 non-null  int64
 23  council_district         60000 non-null  int64
 24  community_district       60000 non-null  int64
 25  school_district          60000 non-null  int64
 26  congressional_district   60000 non-null  int64
 27  reopened                 60000 non-null  object
 28  special_events           60000 non-null  object
 29  standby                  60000 non-null  object
 30  transferred              60000 non-null  object
 31  year                     60000 non-null  int64
 32  month                    60000 non-null  int64
 33  day                      60000 non-null  int64
 34  week_day                 60000 non-null  object
 35  hour                     60000 non-null  int64
 36  datetime_hour            60000 non-null  object
 37  datetime_weather         60000 non-null  object
 38  temperture               60000 non-null  float64
 39  precipitation            60000 non-null  float64
 40  windspeed                60000 non-null  float64
 41  weathercode              60000 non-null  int64
 42  is_weekend               60000 non-null  int64
 43  is_rush_hour             60000 non-null  int64
 44  time_of_day              60000 non-null  object
dtypes: float64(5), int64(17), object(23)
memory usage: 20.6+ MB

In [4]:
main_df.columns

Index(['incident_id', 'datetime', 'initial_type', 'initial_severity',
       'final_type', 'final_severity', 'assignment_time',
       'valid_dispatch_response', 'dispatch_response_sec', 'activation_time',
       'on_scene_time', 'valid_incident_response', 'incident_response_sec',
       'travel_time_sec', 'to_hospital_time', 'hospital_arrival_time',
       'close_time', 'held', 'disposition', 'borough', 'dispatch_area',
       'zipcode', 'precinct', 'council_district', 'community_district',
       'school_district', 'congressional_district', 'reopened',
       'special_events', 'standby', 'transferred', 'year', 'month', 'day',
       'week_day', 'hour', 'datetime_hour', 'datetime_weather', 'temperture',
       'precipitation', 'windspeed', 'weathercode', 'is_weekend',
       'is_rush_hour', 'time_of_day'],
      dtype='object')

In [5]:

drop_cols = ['incident_response_sec', 'travel_time_sec', 'dispatch_response_sec', 'close_time', 'hospital_arrival_time', 'to_hospital_time', 'on_scene_time', 'activation_time', 'assignment_time', 'final_severity', 'final_type']
main_df = main_df.drop(columns=drop_cols)

In [7]:
main_df.head()

,incident_id,datetime,initial_type,initial_severity,valid_dispatch_response,valid_incident_response,held,disposition,borough,dispatch_area,...,hour,datetime_hour,datetime_weather,temperture,precipitation,windspeed,weathercode,is_weekend,is_rush_hour,time_of_day
0,230010001,2023-01-01 00:00:02,UNKNOW,4,Y,Y,N,90,MANHATTAN,M5,...,0,2023-01-01 00:00:00,2023-01-01 00:00:00,48.0,0.4,11.3,51,1,0,night
1,230010002,2023-01-01 00:00:16,RESPFC,4,Y,Y,Y,96,BROOKLYN,K5,...,0,2023-01-01 00:00:00,2023-01-01 00:00:00,48.0,0.4,11.3,51,1,0,night
2,230010003,2023-01-01 00:00:30,DIFFFC,2,Y,Y,N,82,BRONX,B5,...,0,2023-01-01 00:00:00,2023-01-01 00:00:00,48.0,0.4,11.3,51,1,0,night
3,230010004,2023-01-01 00:01:35,INJURY,5,Y,Y,N,82,MANHATTAN,M3,...,0,2023-01-01 00:00:00,2023-01-01 00:00:00,48.0,0.4,11.3,51,1,0,night
4,230010007,2023-01-01 00:01:55,DRUG,4,Y,Y,Y,93,MANHATTAN,M9,...,0,2023-01-01 00:00:00,2023-01-01 00:00:00,48.0,0.4,11.3,51,1,0,night

In [6]:
main_df.columns

Index(['incident_id', 'datetime', 'initial_type', 'initial_severity',
       'valid_dispatch_response', 'valid_incident_response', 'held',
       'disposition', 'borough', 'dispatch_area', 'zipcode', 'precinct',
       'council_district', 'community_district', 'school_district',
       'congressional_district', 'reopened', 'special_events', 'standby',
       'transferred', 'year', 'month', 'day', 'week_day', 'hour',
       'datetime_hour', 'datetime_weather', 'temperture', 'precipitation',
       'windspeed', 'weathercode', 'is_weekend', 'is_rush_hour',
       'time_of_day'],
      dtype='object')

In [ ]:
time_series_df =